<div class="container pt-10" style="margin-top: 8%">
    <div class="row">
      <div
        class="col-sm d-flex justify-content-center align-items-start landingText mr-10"
      >
        <div class="col ml-3">
          <div>
            <p class="text-start">
              <span style="font-size: 28pt;"
                ><strong>E</strong>space qui met en relation les employées et l'entreprise...</span
              ><br />
             
            </p>
          </div>
  
          
        </div>
      </div>
      <div class="col-sm d-flex justify-content-center ">
        <img src="assets/img/logo.png" width="480" height="250" style="margin-top: 10%;" />
      </div>
    </div>
  </div>