<form [formGroup]="addPostForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="title">Titre</label>
    <input type="text" formControlName="title" id="title" class="form-control" placeholder="Titre">
  </div>
  <div class="form-group">
    <label for="body">Corps</label>
    <textarea formControlName="body" id="body" class="form-control" rows="5" placeholder="Corps"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Enregistrer</button>
  <button type="button" class="btn btn-secondary" (click)="onClose()">Annuler</button>
</form>
